<div class="row justify-content-center">
    <div class="col-lg-4 food-card-image-wrapper" (click)="openMenu('lunchSpecial')">
            <img src="../../assets/img/menu/lunch-01.png">
            <h4 class="img-tag  bold">Lunch Specials</h4>
            <div class="img-tag-bottom">
                        <small class="bold">Mon-Fri: 11:30 AM - 4:00 PM ></small>
                        <br>
                        <small class="bold">View Full Menu ></small>
            </div>

    </div>
    <div class="col-lg-4 food-card-image-wrapper" (click)="openMenu('weekendSpecial')">
            <img src="../../assets/img/menu/specials-01.jpg">
            <h4 class="img-tag  bold">Weekend Specials</h4>
            <div class="img-tag-bottom">
                        <small class="bold">Sat-Sun: 12:00 NOON - 4:00 PM ></small>
                        <br>
                        <small class="bold">View Full Menu ></small>
            </div>
    </div>
    <div class="col-lg-4 food-card-image-wrapper" (click)="openMenu('socialHours')">
            <img src="../../assets/img/menu/happy-hour.png">
            <h4 class="img-tag  bold">Happy Hour</h4>
            <div class="img-tag-bottom">
                        <small class="bold">Mon-Fri: 4:00 PM - 7:00 PM ></small>
                        <br>
                        <small class="bold">View Full Menu ></small>
            </div>
    </div>
    <div class="col-lg-4 food-card-image-wrapper" (click)="openMenu('bar')">
            <img src="../../assets/img/menu/drinks-01.png">
            <h4 class="img-tag  bold">Bar</h4>
            <div class="img-tag-bottom">
                        <small class="bold">Mon-Sat: 11:30 AM - 2:00 AM ></small>
                        <br>
                        <small class="bold">Sun: 12 NOON - 2:00 AM ></small>
                        <br>
                        <small class="bold">View Full Menu ></small>
            </div>
    </div>
</div>